name: GitHub Activity Update

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update GitHub Activity
        uses: Readme-Workflows/recent-activity@v2
        with:
          PAT: ${{ secrets.GITHUB_TOKEN }}
